.assigmentListContent {
    width: 320px;
}
.assigmentCommentContent {
    width: 584px;
    height: 587px;
}
body {
    position: relative;
}
.commentBody {
    position: relative;
    //max-height: 65.625%;
    max-height: 525px;
}